.checkbox-group label {
    display: block;
    margin-bottom: 10px;
  }
  
  .checkbox-group input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .checkbox-group input[type="checkbox"]:disabled {
    opacity: 0.5;
  }
  